﻿@model BETProject.Models.TournamentViewModel

@{
    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Tournament Events Information</h3>

<body data-ng-app="myApp">

    <div class="container" ng-controller="eventCtrl" ng-init="getTournamentEvents(@Model.TournamentID)">
        <div id="tournament" class="row well" ng-controller="tournamentCtrl" ng-init="getTournament(@Model.TournamentID)">
            <form name="tournamentForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tournament Name <sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <input type="text" ng-model="tournament.TournamentName" required class="form-control">                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1">
                        <button class="btn btn-success" ng-click="tournamentForm.$valid && updateTournament(@Model.TournamentID)"><i class="glyphicon glyphicon-floppy-save"></i> Update</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="events">
            <div class="row well">
                <button type="button" id="create" class="btn btn-info pull-right" @*data-toggle="modal" data-target="#createEventModal"*@>
                    <i class="glyphicon glyphicon-plus">
                    </i> Add New Event
                </button>
            </div>

            <h4>Tournament Events</h4>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Event Name</th>
                    <th>Event Number</th>
                    <th>Event Date</th>
                    <th>Event End Date</th>
                    <th>Auto Close</th>
                    <th>Action</th>
                </tr>
                <tbody data-ng-repeat="event in events">
                    <tr>
                        <td>{{event.EventName}}</td>
                        <td>{{event.EventNumber}}</td>
                        <td>{{event.EventDateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{event.EventEndDateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>                        
                        <td><input type="checkbox" ng-checked="{{event.AutoClose}}" ng-disabled="true" class="form-control" /></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" ng-click="editEvent(event.EventID)">
                                    <i class="glyphicon glyphicon-pencil">
                                    </i>
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="deleteEvent(event.EventID)" confirm-click="Are you sure you want to delete '{{event.EventName}}' event?">
                                    <i class="glyphicon glyphicon-trash">
                                    </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="createEventModal" class="modal fade" role="dialog" style="position: absolute">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header2">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">New Event</h3>
                    </div>
                    <form id="eventForm" name="eventForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Event Name <sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    <input type="text" ng-model="EventName" placeholder="Event Name" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Event Number<sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    <input type="number" ng-model="EventNumber" placeholder="" required class="form-control">
                                </div>
                                <span class="help-button" uib-tooltip="Please enter event number" tooltip-placement="left">?</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Event Date</label>

                                <div class="col-sm-7">
                                    <input type="datetime-local" ng-model="EventDateTime" class="form-control">
                                </div>
                                <span class="help-button" uib-tooltip="Please enter event date" tooltip-placement="left">?</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Event End Date</label>

                                <div class="col-sm-7">
                                    <input type="datetime-local" ng-model="EventEndDateTime" class="form-control">                                                                        
                                </div>
                                <span class="help-button" uib-tooltip="Please enter event end date" tooltip-placement="left">?</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Auto Close <sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    <input type="checkbox" ng-model="AutoClose" placeholder="" class="form-control">
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer model-grey-color">
                            <button class="btn btn-success" ng-click="eventForm.$valid && saveEvent()"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
                            <button class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <input type="button" value="Back to Previous Page" class="btn btn-primary"
                   onclick="location.href='/Tournament/Index/'" />
        </div>
    </div>
    
</body>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.3.0/angular-moment.min.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/app/mainCtrl.js"></script>
<script type="text/javascript">
    $("#create").click(function () {
        $('#createEventModal').modal('show');
    });
</script>