﻿@model List<BETProject.Models.TournamentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tournaments</h2>

<body data-ng-app="myApp" >
    <div class="container" ng-controller="tournamentCtrl" ng-init="getTournaments()">
        <div class="row well">
            <button type="button" id="create" class="btn btn-info pull-right" @*data-toggle="modal" data-target="#createTounamentModal"*@>
                <i class="glyphicon glyphicon-plus">
                </i> Add New Tournament
            </button>
        </div>    
        <div id="tblTournament">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Tournament Name</th>
                    <th>Action</th>
                </tr>
                <tbody data-ng-repeat="item in tournaments">
                    <tr>
                        <td>{{item.TournamentName}}</td>
                        <td style=" width: 200px">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" ng-click="editTournament(item.TournamentID)">
                                    <i class="glyphicon glyphicon-pencil">
                                    </i>
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="deleteTournament(item.TournamentID)" confirm-click="Are you sure you want to delete '{{item.TournamentName}}' tournament?" >
                                    <i class="glyphicon glyphicon-trash">
                                    </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div id="createTounamentModal" class="modal fade" role="dialog" style="position: absolute">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header2">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">New Tournament</h2>
                    </div>
                    <form name="tournamentForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tournament Name <sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    @*<input type="text" ng-model="TournamentName" placeholder="Tournament Name" ngModel required class="form-control">*@
                                    <input type="text" ng-model="TournamentName" required placeholder="Tournament Name" class="form-control">
                                </div>
                                <span class="help-button" uib-tooltip="Please enter tournament name" tooltip-placement="left">?</span>
                            </div>
                        </div>
                        <div class="modal-footer model-grey-color">
                            <button class="btn btn-success" ng-click="tournamentForm.$valid && saveTournament()"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
                            <button class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/app/mainCtrl.js"></script>
<script type="text/javascript">
    $("#create").click(function () {
        $('#createTounamentModal').modal('show');
    });
</script>
