﻿@model BETProject.Models.EventDetailViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event Details Information</h2>

<body data-ng-app="myApp">

    <div class="container" ng-controller="eventDetailCtrl" ng-init="getEventDetail(@Model.EventDetailID)">
        <form name="eventDetailEditForm">
            <div id="event" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="hidden" ng-model="eventDetail.FK_EventID" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Event Detail Name<sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <input type="text" name="eventdetailname" ng-model="eventDetail.EventDetailName" required class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Event Detail Number<sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <input type="number" name="eventdetailnumber" ng-model="eventDetail.EventDetailNumber" required class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Event Detail Odd<sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <input type="number" name="eventdetailodd" ng-model="eventDetail.EventDetailOdd" required class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Finishing Position<sup class="sup-color"></sup></label>

                    <div class="col-sm-6">
                        <input type="number" name="finishingposition" ng-model="eventDetail.FinishingPosition" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Event Detail Status <sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <select @*ng-model="eventDetail.FK_EventDetailStatusID"*@ class="form-control">
                            <option ng-repeat="option in eventStatusList" value="{{option.EventDetailStatusID}}">{{option.EventDetailStatusName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Timer<sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <input name="firsttimer" type="checkbox" ng-model="eventDetail.FirstTimer" ng-checked="eventDetail.FirstTimer" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-1">
                        <button class="btn btn-success" ng-click="eventDetailEditForm.$valid && updateEventDetail(@Model.EventDetailID)"><i class="glyphicon glyphicon-floppy-save"></i> Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr />
    <div>
        @*<input type="button" value="GO BACK" class="btn btn-primary"
               onclick="location.href='@Request.UrlReferrer'" />*@        
       
        <input type="button" value="Back to Previous Page" class="btn btn-primary"
               onclick="location.href='/Event/Edit/@Model.FK_EventID'" />

    </div>

</body>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.3.0/angular-moment.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script type="text/javascript" src="~/signalr/js"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/app/mainCtrl.js"></script>