﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Glenwood,
    Durban,
    South africa<br />
</address>
<address>
    <strong>Contact by email:</strong>   <a href="mailto:cgowana@gmail.com">cgowana@gmail.com</a><br />
    <strong>Linkedlin profile:</strong>   <a href="https://www.linkedin.com/in/cgowana">Chumani Gowana</a><br />

</address>