﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style=" width:100%; height: 500px !important;">
            <div class="item active">
                <img src="~/Content/Images/horses.jpg" alt="Racing  Horses" height="200">
            </div>

            <div class="item" style=" width:100%; height: 500px !important;">
                <img src="~/Content/Images/play.jpg" alt="Play" height="200">
            </div>

            <div class="item" style=" width:100%; height: 500px !important;">
                <img src="~/Content/Images/roulette.jpg" alt="Roulette">
            </div>

            <div class="item" style=" width:100%; height: 500px !important;">
                <img src="~/Content/Images/card.jpg" alt="Card">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    @*<p class="lead"> </p>*@
</div>


