﻿@model BETProject.Models.EventViewModel
@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Events Details Information</h3>
</div>

<body data-ng-app="myApp">

    <div class="container" ng-controller="eventDetailCtrl" ng-init="getEventDetailsList(@Model.EventID)">
        <div id="event" class="form-horizontal" ng-controller="eventCtrl" ng-init="getEvent(@Model.EventID)">
            <form name="eventForm">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="hidden" ng-model="event.FK_TournamentID" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Event Name <sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <input type="text" ng-model="event.EventName" required class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Event Number<sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <input type="text" ng-model="event.EventNumber" required class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Event Date</label>
                    <div class="col-sm-6">
                        <input name="eventdate" type="datetime-local" ng-model="event.EventDateTime" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Event End Date</label>

                    <div class="col-sm-6">
                        <input type="datetime-local" ng-model="event.EventEndDateTime" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Auto Close<sup class="sup-color">*</sup></label>

                    <div class="col-sm-6">
                        <input name="autoclose" type="checkbox" ng-model="event.AutoClose" ng-checked="event.AutoClose" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1">
                        <button class="btn btn-success" ng-click="eventForm.$valid && updateEvent(@Model.EventID)"><i class="glyphicon glyphicon-floppy-save"></i> Update</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row well">
            <button type="button" id="create" class="btn btn-info pull-right" @*data-toggle="modal" data-target="#eventDetailsModal"*@>
                <i class="glyphicon glyphicon-plus">
                </i> Add Event Detail
            </button>
        </div>
        <div id="eventDetail">
            <h4>Event Details</h4>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Event Detail Name</th>
                    <th>Event Detail Number</th>
                    <th>Event Detail Odd</th>
                    <th>Finishing Position</th>
                    <th>First Timer</th>
                    <th>Event Status</th>
                    <th>Action</th>
                </tr>
                <tbody data-ng-repeat="eventDetail in eventDetails track by $index">
                    <tr>
                        <td>{{eventDetail.EventDetailName}}</td>
                        <td>{{eventDetail.EventDetailNumber}}</td>
                        <td>{{eventDetail.EventDetailOdd}}</td>
                        <td>{{eventDetail.FinishingPosition}}</td>
                        <td><input type="checkbox" ng-checked="{{eventDetail.FirstTimer}}" ng-disabled="true" class="form-control" /></td>
                        <td>{{eventDetail.EventDetailStatusName}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" ng-click="editEventDetail(eventDetail.EventDetailID)">
                                    <i class="glyphicon glyphicon-pencil">
                                    </i>
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="deleteEventDetail(eventDetail.EventDetailID)" confirm-click="Are you sure you want to delete '{{eventDetail.EventDetailName}}' event detail?">
                                    <i class="glyphicon glyphicon-trash">
                                    </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="eventDetailsModal" class="modal fade" role="dialog" style="position: absolute">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header2">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Add Event Detail</h3>
                    </div>
                    <form name="eventDetailForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Event Detail Name <sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    <input type="text" ng-model="EventDetailName" placeholder="Event Detail Name" required class="form-control">
                                </div>
                                <span class="help-button" uib-tooltip="Please enter event detail name" tooltip-placement="left">?</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Event Detail Number<sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    <input type="number" ng-model="EventDetailNumber" placeholder="" required class="form-control">
                                </div>
                                <span class="help-button" uib-tooltip="Please enter event detail number" tooltip-placement="left">?</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Event Detail Odd <sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    <input type="number" ng-model="EventDetailOdd" placeholder="" required class="form-control">
                                </div>
                                <span class="help-button" uib-tooltip="Please enter event detail odd" tooltip-placement="left">?</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Finishing Position</label>

                                <div class="col-sm-7">
                                    <input type="number" ng-model="FinishingPosition" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Event Detail Status <sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    <select ng-model="EventDetailStatusID" class="form-control">
                                        <option ng-repeat="option in eventStatusList track by $index" value="{{option.EventDetailStatusID}}">{{option.EventDetailStatusName}}</option>
                                    </select>
                                </div>
                                <span class="help-button" uib-tooltip="Please select event detail status" tooltip-placement="left">?</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">First Timer <sup class="sup-color">*</sup></label>

                                <div class="col-sm-7">
                                    <input type="checkbox" ng-model="FirstTimer" placeholder="" class="form-control">
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer model-grey-color">
                            <button class="btn btn-success" ng-click="eventDetailForm.$valid && saveEventDetail()"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
                            <button class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            @*<input type="button" value="GO BACK" class="btn btn-primary"
                onclick="location.href='@Request.UrlReferrer'" />*@

            <input type="button" value="Back to Previous Page" class="btn btn-primary"
                   onclick="location.href='/Tournament/Edit/@Model.FK_TournamentID'" />
        </div>
    </div>

</body>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.3.0/angular-moment.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script type="text/javascript" src="~/signalr/js"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/app/mainCtrl.js"></script>
<script type="text/javascript">
    $("#create").click(function () {
        $('#eventDetailsModal').modal('show');
    });
</script>